.box {
  border: 1px solid black;
  animation: slide 4s ease-in;
  width: 200px;
  height: 200px;
  background-color: red;
}
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
